@model MvcApplication1.Models.QueueModel

@{

    ViewBag.Title = "Home Page";
    List<MvcApplication1.get_Queue_Status_Result> result = MvcApplication1.Controllers.QueueController.GetQueueNames();
}

<h1>Queue Management</h1>
<div class="row">
    <div class="col-mid-3" style="overflow:hidden; position:relative">
        <table class="table table-hover">
            <thead>
                <tr><th>Queue</th><th>Size</th></tr>
            </thead>
            <tbody>
                @for (int i = 0; i < result.Count; i++)
                {
                    <tr><td>@result[i].Name</td><td>@result[i].size</td></tr>
                }

            </tbody>
        </table>
    </div>
</div>

@*
    <div class="row">
        <div class="col-mid-3" style="overflow:hidden; position:relative">
            <table class="table table-hover">
                <thead>
                    <tr><th>Client Interviews</th></tr>
                </thead>
                <tbody>
                    <tr><td onclick="deletepress(this)">Steven</td></tr>
                    <tr><td onclick="deletepress(this)">Ben</td></tr>
                    <tr><td onclick="deletepress(this)">Joe</td></tr>
                </tbody>
            </table>
        </div>
        <div class="col-mid-3" style="overflow:hidden; position:relative">
            <table class="table table-hover">
                <thead>
                    <tr><th>Specific Questions</th></tr>
                </thead>
                <tbody>
                    <tr><td onclick="deletepress(this)">Steven</td></tr>
                    <tr><td onclick="deletepress(this)">Ben</td></tr>
                    <tr><td onclick="deletepress(this)">Joe</td></tr>
                </tbody>
            </table>
        </div>
        <div class="col-mid-3" style="overflow:hidden; position:relative">
            <table class="table table-hover">
                <thead>
                    <tr><th>Computer Terminals</th></tr>
                </thead>
                <tbody>
                    <tr><td onclick="deletepress(this)">Steven</td></tr>
                    <tr><td onclick="deletepress(this)">Ben</td></tr>
                    <tr><td onclick="deletepress(this)">Joe</td></tr>
                </tbody>
            </table>
        </div>
    </div>
*@
